#titulo{
    color: teal;
}

#subtitulo{
    color: blue;
}

.blueText {
    color: blue;
}

.redText {
    color: red;
}

.especial{
    color: orange;
}

.destacado {
    color: orange;
}

td {
    color: green;
}

#especial {
    color: fuchsia;
}

.uglyGreen {
    color: #b0cb72;
}

.greenText {
    color: green;
}

#port{
    color: purple;
}